:root {
  --title-font: "Lexend Deca", sans-serif;
  --text-font: "Open Sans", sans-serif;
  --dark-color: #685454;
  --primary-pink: #ea8a8a;
  --secondary-pink: #ffaaa5;
  --light-color: #fcf8f3;
  --highlight-color: #ffc93c;
}
body {
  background-color: var(--light-color);
}
h1 {
  font-family: var(--title-font);
  font-size: 64px;
  color: var(--primary-pink);
}
h1.highlight {
  color: var(--highlight-color);
  font-size: 56px;
}
h2 {
  font-family: var(--title-font);
  font: 32px;
  font-weight: 400;
  color: var(--dark-color);
}
h2.connect {
  text-align: center;
}
h3 {
  font-family: var(--title-font);
  font: 16px;
  color: var(--dark-color);
}
h4 {
  padding-top: 10px;
  font-family: var(--title-font);
  font: 12px;
  color: var(--dark-color);
}
h5 {
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: var(--text-font);
  font: 12px;
  color: var(--dark-color);
}
h3.email {
  font-size: 18px;
  font-family: 400;
}
h4.selected-work {
  margin-bottom: 5px;
  margin-top: 15px;
}
p {
  padding-top: 10px;
  font-family: var(--text-font);
  font-size: 14px;
  color: var(--dark-color);
}
p.introduction {
  color: var(--light-color);
}
footer {
  font-family: var(--text-font);
  font-size: 12px;
  color: var(--secondary-pink);
  text-align: center;
}
.navbar {
  margin-left: 30px;
}
.container-landing {
  background-color: var(--dark-color);
  padding-bottom: 70px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.headline {
  margin-left: 50px;
}
.introduction {
  margin-top: 30px;
}
a.my-github {
  color: var(--secondary-pink);
  text-decoration: none;
}
a.my-github:hover {
  color: var(--dark-color);
  text-decoration: none;
}
a.nav-link {
  font-family: var(--text-font) !important;
  font-size: 14px !important;
  color: var(--primary-pink) !important;
}
a.active {
  font-size: bold !important;
  color: var(--light-color) !important;
}
.container-selected-work {
  padding-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
}
.selected-work {
  margin-top: 30px;
  margin-bottom: 30px;
}
.container-about {
  background-color: var(--secondary-pink);
  margin-top: 70px;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.container-connect {
  padding-top: 70px;
  margin-left: 50px;
  padding-bottom: 50px;
}
.email-button {
  text-align: center;
}
.links {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  justify-content: center;
}
a.footer-links {
  font-family: var(--text-font);
  color: var(--dark-color);
  font-size: 14px;
  text-decoration: none;
  justify-content: center;
}
a.footer-links:hover {
  color: var(--primary-pink);
}
a.footer-links:visited {
  text-decoration: none;
}
.btn {
  background-color: var(--primary-pink);
  color: var(--light-color) !important;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px !important;
  padding-left: 30px !important;
  font-family: var(--text-font) !important;
}
.btn:hover {
  background-color: var(--dark-color);
  color: var(--light-color) !important;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a.email-button:visited {
  color: var(--light-color);
}
a.email-button {
  color: var(--light-color);
}
img.profile {
  max-width: 250px;
}
.about-me {
}
img.work {
  border-radius: 10px;
}
.border {
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-right: 10px;
  border-color: var(--secondary-pink) !important;
}
.more-about-me {
  border: none;
  color: var(--primary-pink) !important;
  background-color: var(--light-color);
}
